<template>
  <div
    class="flex flex-col w-full h-screen gap-5"
    :style="{ fontFamily: 'Mono' }"
  >
    <h1 class="mt-20 ml-10" :style="{ fontSize: '25px' }">Mon Panier</h1>
    <MjDivider class="container mx-auto w-5/6" />
    <div
      class="w-4/5 h-3/5 container mx-auto items-center pt-2 overflow-scroll"
    >
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6"
        v-for="(item, index) in getCart"
        :key="index"
      >
        <div
          class="
            flex
            justify-center
            text-6xl
            items-center
            h-48
            rounded-xl
            my-auto
          "
        >
          <img src="../assets/images/Coffee.jpeg" class="roundedlg" />
        </div>
        <div class="flex flex-col rounded-xl p-6 gap-3 overflow-clip">
          <div :style="{ fontSize: '20px', fontFamily: 'Mono' }">
            {{ item.name }}
          </div>
          <div class="flex flex-row justify-between h-10 w-32 items-center">
          <div class=" text-black" :style="{ fontSize: '20px', fontFamily: 'Mono' }">{{"x " + item.quantity}}</div>
          <Close  :size="25" class=" mr-1 cursor-pointer text-red-800" @click="deleteCartItem"/>
          </div>
        </div>
      </div>
      <div
        v-if="getCart.length === 0"
        class="w-full h-full flex items-center justify-center"
      >
        <h2>Empty Cart</h2>
      </div>
    </div>
    <MjDivider />
    <div
      class="flex flex-row container w-5/6 mx-auto justify-between items-center"
    >
      <h2>Total:</h2>
      <div class="flex flex-row items-center justify-center">
        <h2>{{ getCartTotal }}</h2>
        <Euro :size="15" />
      </div>
    </div>
    <Nuxt-Link
      class="btn mb-10 w-5/6 rounded-none container mx-auto mt-20"
      v-if="user && getCart.length > 0"
      to="/my-order"
    >
      Order Now
    </Nuxt-Link>
    <button
      class="btn mb-10 w-5/6 rounded-none container mx-auto mt-20"
      disabled="disabled"
      v-else
    >
      {{user ? "Please Log In" : "Please Feed The Cart"}}
    </button>
  </div>
</template>

<script>
import Close from "vue-material-design-icons/Close.vue";
import Euro from "vue-material-design-icons/CurrencyEur.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  components: { Close, Euro },
  props: {
    isLogin: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    deleteElement(index) {
      this.$emit("delete", index);
    },
  },
  computed: {
    ...mapGetters(["getCart", "getCartTotal"]),
    user() {
      return this.$store.state.user;
    },
  },
  methods: {
    ...mapActions(["deleteCartItem"]),
  },
};
</script>

<style scoped>
mobile-nav-enter-active,
.mobile-nav-leave-active {
  transition: 0.5s ease all;
}

.mobile-nav-enter-from,
.mbile-nav-leave-to {
  transform: translateX(-100px);
}

.mobile-nav-leave-to {
  transform: translateX(-100px);
}
</style>