<template>
  <div>
  <nav
    class="
      container
      max-w-full
      bg-white
      mx-auto
      border-2
      h-20
      z-10
      top-0
      fixed
      w-full
      flex flex-row
      justify-between
    "
  >
    <div class="flex flex-row items-center h-full">
      <Logo class="fill-current h-full" />
      <h1 class="text-3xl text-gray-600 ml-2 font-DidactGothic">Shop</h1>
    </div>
    <div class="flex flex-row items-center h-full gap-5 pr-5">
      <NuxtLink to="/" class="btn"
        >Home</NuxtLink
      >
      <div class="my-6 indicator ">
        <div class="indicator-item badge border-white">{{getCartItemNumber}}</div>
        <button
          class="btn btn-square"
          @click="
            () => {
              isOpenCartDrawer = true;
              isOpenUserDrawer = false;
            }
          "
        >
          <CartOutline />
        </button>
      </div>
      <button
        class="btn btn-square"
        @click="
          () => {
            isOpenUserDrawer = true;
            isOpenCartDrawer = false;
          }
        "
      >
        <Account />
      </button>
    </div>
      </nav>
      <transition name="fade"  >
          <div
          v-if="isOpenUserDrawer || isOpenCartDrawer"
      class="h-full z-10 w-full fixed top-0 right-0 bg-black bg-opacity-70"
      @click="
        () => {
          isOpenUserDrawer = false;
          isOpenCartDrawer = false;
        }
      "
    ></div>
    </transition>
    <transition name="mobile-nav">
      <div class="h-full z-10 w-96 fixed top-0 right-0 bg-white" v-if="isOpenUserDrawer">
        <UserDrawer v-on:login="updateLogin" :isLogin="loggedIn" />
      </div>
    </transition>
    <transition name="mobile-nav">
      <div class="h-full z-10 w-96 drawer fixed top-0 right-0 bg-white" v-if="isOpenCartDrawer">
        <CartDrawer />
      </div>
    </transition>

  </div>
</template>

<script>
import Logo from "../components/42_Logo.vue";
import CartOutline from "vue-material-design-icons/CartOutline.vue";
import Account from "vue-material-design-icons/Account.vue";
import UserDrawer from "./UserDrawer.vue";
import CartDrawer from "./CartDrawer.vue";
import { mapGetters } from "vuex";

export default {
  components: {
    Logo,
    CartOutline,
    Account,
    UserDrawer,
    CartDrawer,
  },
  data() {
    return {
      isOpenUserDrawer: false,
      isOpenCartDrawer: false,
      loggedIn: false,
      cart: [],
    };
  },
  methods: {
    close() {
      this.isOpenUserDrawer = false;
    },
    updateLogin: function (value) {
      this.loggedIn = value;
    },
  },
  computed: {
    ...mapGetters(["getCartItemNumber"]),
  },
};
</script>

<style>

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.mobile-nav-enter-active,
.mobile-nav-leave-active{
  transition: 0.5s ease all;
}

.mobile-nav-enter,
.mobile-nav-leave-to{
  transform: translateX(24rem)
}
</style>
