<template>
  <VueSlickCarousel
    v-bind="settings"
    class="container rounded-lg shadow-lg my-20 flex flex-row w-full mx-auto"
  >
    <div>
      <img
        class="object-fill w-full h-full rounded-lg"
        src="https://png.pngtree.com/png-clipart/20210620/original/pngtree-coffee-promotion-banner-png-image_6440528.jpg"
      />
    </div>
    <div>
      <img
        class="object-cover w-full h-full rounded-lg"
        src="https://previews.123rf.com/images/kjolak/kjolak1707/kjolak170700009/81802486-conception-de-caf%C3%A9-publicitaire-avec-une-tasse-de-caf%C3%A9-et-de-grains-de-caf%C3%A9-haute-illustration-r%C3%A9ali.jpg"
      />
    </div>
    <div>
      <img
        class="object-cover w-full h-full rounded-lg"
        src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/coffee-product-ads-design-template-82fe109066fc2c4d131a2783de4a750d_screen.jpg?ts=1622165618"
      />
    </div>
    <div>
      <img
        class="object-cover w-full h-full rounded-lg"
        src="https://startmycoffeeshop.com/wp-content/uploads/2019/03/BestWayToAdvertiseCoffeeShop-1.png"
      />
    </div>
  </VueSlickCarousel>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";

export default {
  name: "Slider",
  components: { VueSlickCarousel },
  data() {
    return {
      settings: {
        dots: false,
        dotsClass: "slick-dots custom-dot-class",
        edgeFriction: 0.35,
        infinite: true,
        speed: 500,
        fade: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 5000,
        pauseOnDotsHover: true,
        pauseOnFocus: true,
        pauseOnHover: true,
      },
    };
  },
};
</script>