<template>
  <div class="shadow-lg rounded-lg flex flex-col justify-center items-center">
    <div class="w-5/6">
    <img
      src="../assets/images/Coffee.jpeg"
      class="rounded-tl-lg rounded-tr-lg"
      :style="{ filter: isDisponible ? 'grayscale(0%)' : 'grayscale(80%)' }"
    />
    <div class="p-5">
      <h3>{{ productName }}</h3>
      <div class="flex flow-row gap-2">
        <Euro
          :size="20"
          class="h-5 w-5 mr-1"
          v-for="index in Math.ceil(price / 30)"
          :key="index"
        />
      </div>
      <div class="flex flex-row my-3">
        <h2>{{ isDisponible ? "Disponible" : "Out of Stock" }}</h2>
      </div>
      <div class="flex flex-col xl:flex-row justify-between">
        <MjButton icon-right
        :disabled="!isDisponible"
        variant="secondary"
        class="inline-block"
          @click="() => {
            addItemToCart({item: product, quantity: 1});
            displayMessage()
          }"
        >
        <template #icon>
          <CartOutline :size="20" class="h-5 w-5 mr-1" />
          </template>
          Add To Cart
        </MjButton>
        <MjButton icon-right
        variant="secondary"
        tag="nuxt-link"
        :to="`product/${product.id}`"
        class="inline-block">
          <template #icon>
            <ArrowRight :size="20" class="h-5 w-5 mr-1" />
          </template>
            View Details
          </MjButton>
        </div>
      </div>
      </div>
    </div>
</template>

<script>
import CartOutline from "vue-material-design-icons/CartOutline.vue";
import ArrowRight from "vue-material-design-icons/ArrowRight.vue";
import Euro from "vue-material-design-icons/CurrencyEur.vue";
import { mapActions } from "vuex";

export default {
  components: { CartOutline, ArrowRight, Euro },
  props: {
    product: {
      type: Object,
      default: {},
    },
    productName: {
      type: String,
      default: "",
    },
    price: {
      type: Number,
      default: 1,
    },
    index: {
      type: Number,
      required: true,
    },
    isDisponible: {
      type: Boolean,
      default: true,
    },
  },
  created() {
    console.log(Math.ceil(this.price / 30));
  },
  methods: {
    ...mapActions(["addItemToCart"]),
    displayMessage: function () {
      console.log(this.product.name + " has been added to cart !");
    },
  },
};
</script>