<template>
  <div>
    <VueSlickCarousel :arrows="true" v-bind="settings" v-if="products.length">
      <ProductCard
        v-for="(product, index) in products"
        :product="product"
        :productName="product.name"
        :price="product.price"
        :key="product.id"
        :index="index"
        :isDisponible="product.stock > 0"
      />
    </VueSlickCarousel>
  </div>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import ProductCard from "./ProductCard.vue";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
// optional style for arrows & dots
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";

export default {
  name: "Slider",
  components: { VueSlickCarousel, ProductCard },
  props: {
    products: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      settings: {
        dots: true,
        focusOnSelect: true,
        infinite: false,
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 3,
        touchThreshold: 5,
      },
    };
  },
};
</script>