<!-- Please remove this file from your project -->
<template>
  <div class="container max-w-full bg-white mx-auto border-2 h-20 w-full flex flex-row items-center">
    <Logo class="fill-current h-full"/>
    <h1 class="text-3xl text-gray-600 ml-2 font-DidactGothic">Shop</h1>
  </div>
</div>

</template>

<script>
  import Logo from "./42_Logo.vue";

  export default {
    components: { Logo },
  };
</script>