<template>
  <div>
    <MjToast ref="toast" />

    <div
      class="flex flex-col w-full h-screen justify-center items-center gap-5"
      v-if="!user"
    >
      <h1 class="text-4xl">
        {{ loginMode ? "Sign in to your account" : "Create an Account" }}
      </h1>
      <h3
        class="mb-10 text-blue-800 cursor-pointer"
        @click="loginMode = !loginMode"
      >
        {{ loginMode ? "Or Register" : "Or Login" }}
      </h3>
      <input
        class="w-2/3 h-10 border-2 border-black rounded-lg p-5"
        classtype="text"
        v-model="mail"
        placeholder="Email Adress"
      />
      <input
        class="w-2/3 h-10 border-2 border-black rounded-lg p-5"
        type="password"
        v-model="password"
        placeholder="Password"
      />
      <transition name="fade">
        <input
          v-if="!loginMode"
          class="w-2/3 h-10 border-2 border-black rounded-lg p-5"
          type="text"
          placeholder="Name"
          v-model="username"
        />
      </transition>
      <button
          class="btn  mb-10 w-5/6"
                    @click="loginMode ? login(true) : register()"
        >
           {{ loginMode ? "Login" : "Register" }}
        </button>
      <!-- </div> -->
    </div>
    <div
      class="flex flex-col w-full h-screen justify-center items-center gap-5"
      v-if="user"
    >
      <h1 class="text-4xl">Welcome {{ userName }}</h1>
      <button
          class="btn  mb-10 w-5/6"
                           @click="disconnect()"
        >
           Disconnect
        </button>


    </div>
  </div>
</template>

<script>
import EventService from "../services/EventService";
export default {
  data() {
    return {
      loginMode: true,
      username: "",
      mail: "",
      password: "",
    };
  },
  props: {
    isLogin: {
      type: Boolean,
      default: false,
    },
    userName: {
      type: String,
      default: "",
    },
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
  },
  methods: {
    validateEmail(email) {
      return String(email)
        .toLowerCase()
        .match(
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
    },
    login(value) {
      if (value === true) {
        EventService.trylogin({ mail: this.mail, password: this.password })
          .then((response) => {
            console.log(response);
            console.log("COOL");
            this.$refs.toast.success("You Login Successfully");
            this.$store.commit("setUser", response.data);
          })
          .catch((error) => {
            console.log(error);
            this.$refs.toast.error("An error occured try again");
          });
      }
    },
    disconnect() {
      this.$store.commit("setUser", null);
    },
    register() {
      if (this.validateEmail(this.mail)) {
        // console.log(this.username, this.password, this.mail);
        EventService.postUser({
          name: this.username,
          password: this.password,
          mail: this.mail,
          commandes: "",
        })
          .then((response) => {
            console.log(response);
            console.log("COOL");
            this.$refs.toast.success(
              "Account successfully created, please Login"
            );
            loginMode = true;
          })
          .catch((error) => {
            console.log(error);
            this.$refs.toast.error("An error occured try again");
          });
      } else {
        this.$refs.toast.error("Please enter a correct email adress");
      }
    },
  },
};
</script>

<style scoped>
mobile-nav-enter-active,
.mobile-nav-leave-active {
  transition: 0.5s ease all;
}

.mobile-nav-enter-from,
.mbile-nav-leave-to {
  transform: translateX(-100px);
}

.mobile-nav-leave-to {
  transform: translateX(-100px);
}
</style>