<template>
  <div class="w-full mx-auto pt-40 px-10 " v-if="loaded">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
      <div
        class="
          flex
          justify-center
          text-6xl items-center
          h-96
          rounded-xl
          my-auto
        "
      >
        <img
          src="../../assets/images/Coffee.jpeg"
          class="roundedlg"
          :style="{
            filter: product.stock > 0 ? 'grayscale(0%)' : 'grayscale(80%)',
          }"
        />
      </div>
      <div
        class="
          flex flex-col
          rounded-xl
          p-6
          gap-3
        "
      >
        <div :style="{ fontSize: '30px', fontFamily: 'Mono' }">
          {{ product.name }}
        </div>
        <div :style="{ fontSize: '20px', fontFamily: 'Mono' }">
          ${{ product.price.toPrecision(3) }}
        </div>
        <div :style="{ fontSize: '15px', fontFamily: 'Mono' }">
          6 versement sans interet de ${{ (product.price / 6).toPrecision(3) }}
          pour l'aliance.
        </div>
        <MjDivider />
        <div class="flex">
          <div
            :style="{ fontSize: '15px', fontFamily: 'Mono' }"
            class="font-bold mr-2"
          >
            Want it Wednesday, Dec 22?
          </div>
          <div :style="{ fontSize: '15px', fontFamily: 'Mono' }">
            Order within 10hours and 35 minutes.
          </div>
        </div>
        <div :style="{ fontSize: '15px', fontFamily: 'Mono' }">Quantité</div>
        <div class="flex mb-5">
          <button
            class="btn rounded-none btn-outline"
            @click="quantity = Math.abs(quantity - 1)"
          >
            -
          </button>
          <input
            type="number"
            :value="quantity"
            class="
              input input-bordered
              rounded-none
              input-sm
              text-center
              h-full
              w-14
            "
            :style="{ border: '1px solid black' }"
          />
          <button class="btn rounded-none btn-outline" @click="quantity++">
            +
          </button>
        </div>
        <button
          class="btn rounded-none mb-10"
                    @click="() => {
            addItemToCart({item: product, quantity: quantity});
            displayMessage()
          }"
        >
          Ajouter au panier
        </button>
        <MjDivider />
        <div class="flex gap-5 h-60 items-center">
          <div class="flex flex-col justify-center items-center">
            <Plane :size="100" />
            <div
              :style="{ fontSize: '12 dpx', fontFamily: 'Mono' }"
              class="text-center w-40 leading-tight"
            >
              Livré dans tous les clusters
            </div>
          </div>
          <div
            :style="{ border: '1px solid gray' }"
            class="h-5/6 opacity-50"
          ></div>
          <div class="flex flex-col justify-center items-center">
            <Energy :size="100" />
            <div
              :style="{ fontSize: '12 dpx', fontFamily: 'Mono' }"
              class="text-center w-40 leading-tight"
            >
              Energie garantie 2h ou remboursé
            </div>
          </div>
          <div
            :style="{ border: '1px solid gray' }"
            class="h-5/6 opacity-50"
          ></div>
          <div class="flex flex-col justify-center items-center">
            <Emoji :size="100" />
            <div
              :style="{ fontSize: '12 dpx', fontFamily: 'Mono' }"
              class="text-center w-40 leading-tight"
            >
              Fun et Smile au rendez vous
            </div>
          </div>
        </div>
        <MjDivider />
        <MjCollapse expanded>
          Description
          <template #content>
            {{product.description}}
          </template>
        </MjCollapse>
      </div>
    </div>
  </div>
</template>

<script>
import CartOutline from "vue-material-design-icons/CartOutline.vue";
import Plane from "vue-material-design-icons/AirplaneTakeoff.vue";
import Energy from "vue-material-design-icons/LightningBoltCircle.vue";
import ArrowRight from "vue-material-design-icons/ArrowRight.vue";
import Euro from "vue-material-design-icons/CurrencyEur.vue";
import Plus from "vue-material-design-icons/Plus.vue";
import Emoji from "vue-material-design-icons/EmoticonSickOutline.vue";
import Minus from "vue-material-design-icons/Minus.vue";
import { mapActions } from "vuex";
import EventService from "../../services/EventService";

export default {
  components: {
    CartOutline,
    ArrowRight,
    Euro,
    Plus,
    Minus,
    Plane,
    Energy,
    Emoji,
  },
  data() {
    return {
      product: {},
      loaded: false,
      quantity: 1,
    };
  },
  async asyncData({ $content, params }) {
    const id = params.slug;
    return { id };
  },
  methods: {
    ...mapActions(["addItemToCart"]),
    displayMessage: function () {
      console.log(this.product.name + " has been added to cart !");
    },
  },
  created() {
    console.log(this.id);
    EventService.getProduct(this.id)
      .then((response) => {
        this.product = response.data;
        this.loaded = true;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>

<style>
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
</style>
