<!-- Please remove this file from your project -->
<template>
  <transition>
    <div class="font-mono" v-if="loaded">
      <OverviewSlider />
      <div class="container mx-auto m-10">
        <div class="flex flex-row justify-between">
          <h2>Coffee Collection</h2>
          <NuxtLink to="/" class="hover:text-yellow-500"
            ><div class="flex flex-row items-center">
              View All <ArrowRight :size="20" class="p-1" /></div
          ></NuxtLink>
        </div>
        <ProductSlider :products="products" />
      </div>
      <div
        class="
          container
          rounded-lg
          shadow-lg
          my-20
          flex flex-row
          w-full
          mx-auto
        "
      >
        <div
          class="
            lg:w-3/5
            w-full
            bg-gradient-to-r
            from-black
            to-white
            lg:from-black lg:white lg:to-transparent
            rounded-lg
            text-gray-100
            p-12
          "
        >
          <div class="lg:w-1/2">
            <h3 class="text-2xl font-extrabold mb-4">
              Subscribe to get our offers first
            </h3>
            <p class="mb-4 leading-relaxed">
              Want to hear from us when we have new offers? Sign up for our
              newsletter and we'll email you every time we have new sale offers.
            </p>
            <div>
              <input
                type="email"
                placeholder="Enter email address"
                class="
                  bg-gray-600
                  text-gray-200
                  placeholder-gray-400
                  px-4
                  py-3
                  w-full
                  rounded-lg
                  focus:outline-none
                  mb-4
                "
              />
              <MjButton
                icon-right
                size="lg"
                variant="secondary"
                class="inline-block flex justify-center items-center text-center w-full"
              >
                <template #icon>
                  <MjIcon name="mail" />
                </template>
                <p>
                Subscribe
                </p>
              </MjButton>
            </div>
          </div>
        </div>
        <div class="lg:w-2/5 w-full lg:flex lg:flex-row hidden">
          <img
            src="https://42.fr/wp-content/uploads/2021/07/REPORTAGE42_SD-2527-2000x1333.jpg"
            class="h-96"
          />
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import OverviewSlider from "../components/OverviewSlider.vue";
import CartOutline from "vue-material-design-icons/CartOutline.vue";
import ArrowRight from "vue-material-design-icons/ArrowRight.vue";
import ProductCard from "../components/ProductCard.vue";
import ProductSlider from "../components/ProductSlider.vue";
import EventService from "../services/EventService";
import { mapGetters } from "vuex";

export default {
  components: {
    NavBar,
    CartOutline,
    ArrowRight,
    ProductCard,
    OverviewSlider,
    ProductSlider,
  },
  data() {
    return {
      loaded: false,
    };
  },
  async asyncData({ params }) {
    const slug = params.slug; // When calling /abc the slug will be "abc"
    return { slug };
  },
  computed: {
    products() {
      return this.$store.state.allProducts;
    },
  },
  created() {
    EventService.getProducts()
      .then((response) => {
        this.$store.commit("setProducts", response.data);
        this.loaded = true;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
