
<template>
<div class="h-screen w-full">
<div class="flex flex-col w-full h-4/5 justify-center items-center gap-5">
  <h1 class="text-4xl"> Sign in to your account </h1>
  <h3 class="mb-10 text-blue-800"> Or Register </h3>
  <input class="w-1/3 h-10 border-2 border-black rounded-lg p-5" classtype="text" placeholder="Email Adress"/>
  <input class="w-1/3 h-10 border-2 border-black rounded-lg p-5" type="password" placeholder="Password"/>
  <NuxtLink to="/" class="bg-gradient-to-r from-red-600 to-pink-500 rounded-full py-2 px-4 w-1/3 my-2 text-md text-white hover:bg-pink-600 hover:from-pink-600 hover:to-pink-600 flex flex-row justify-center">
    Login
  </NuxtLink>
</div>
</div>
</template>