<template>
  <div class="w-full mx-auto pt-40 px-10" :style="{ fontFamily: 'Mono' }">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
      <div class="h-screen">
        <div class="max-h-3/5 container mx-auto items-center pt-2 overflow-scroll">
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6"
            v-for="(item, index) in getCart"
            :key="index"
          >
            <div
              class="
                flex
                justify-center
                text-6xl
                items-center
                h-30
                rounded-xl
                my-auto
              "
            >
              <div class="my-6 indicator">
                <div class="indicator-item badge border-white">
                  {{ item.quantity }}
                </div>
                <img
                  src="../assets/images/Coffee.jpeg"
                  class="roundedlg h-20"
                />
              </div>
            </div>
            <div
              class="
                flex flex-row
                rounded-xl
                p-6
                gap-3
                overflow-clip
                items-center
                justify-between
              "
            >
              <div :style="{ fontSize: '20px', fontFamily: 'Mono' }">
                {{ item.name }}
              </div>
              <div :style="{ fontSize: '20px', fontFamily: 'Mono' }">
                {{ item.quantity * item.price + " $" }}
              </div>
            </div>
          </div>
        </div>
        <MjDivider class="container mx-auto mt-5 w-5/6" />
        <div
          class="
            flex flex-row
            container
            w-5/6
            mx-auto
            justify-between
            items-center
            mt-5
          "
        >
          <h2>SOUS TOTAL</h2>
          <div
            class="
              flex flex-row
              items-center
              justify-center
              font-extralight
              opacity-75
              text-sm
            "
          >
            <h2>{{ getCartTotal }}</h2>
            <Euro :size="15" />
          </div>
        </div>
        <div
          class="
            flex flex-row
            container
            w-5/6
            mx-auto
            justify-between
            items-center
            mt-5
          "
        >
          <h2>FRAIS DE PORT</h2>
          <div
            class="
              flex flex-row
              items-center
              justify-center
              font-extralight
              opacity-75
              text-sm
            "
          >
            <h2>GRATUIT !</h2>
          </div>
        </div>
        <MjDivider class="container mx-auto mt-5 w-5/6" />
        <div
          class="
            flex flex-row
            container
            w-5/6
            mx-auto
            justify-between
            items-center
            mt-5
          "
        >
          <h2>TOTAL</h2>
          <div class="flex flex-row items-center justify-center font-bold">
            <h2>{{ getCartTotal }}</h2>
            <Euro :size="15" />
          </div>
        </div>
      </div>
      <div
        class="
          h-screen
          container
          mx-auto
          items-center
          pt-2
          overflow-scroll
        "
      >
      <h1 :style="{fontSize:'30px'}">Forme de retrait</h1>
    </div>

      </div>
    </div>
</template>


<script>
import Close from "vue-material-design-icons/Close.vue";
import Euro from "vue-material-design-icons/CurrencyEur.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  components: { Close, Euro },
  computed: {
    ...mapGetters(["getCart", "getCartTotal"]),
    user() {
      return this.$store.state.user;
    },
  },
  methods: {
    ...mapActions(["deleteCartItem"]),
  },
};
</script>
